@model AppProductList.Models.ProductAddViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create";
}

<h1>@Localizer["Create"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Images" class="control-label"></label>
                <div class="row" id="contentImage">
                    <div class="col-md-2 mt-3">
                        <img src="/img/addimagebtn.png"
                             id="btnAddImage"
                             style="cursor:pointer"
                             width="100%" />
                    </div>
                </div>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        window.addEventListener("load", async function () {
            let id = 1;
            $("#btnAddImage").on("click", function () {
                let imageName = "image" + id;
                id++;
                let $file = $(`<input type="file" data-files style="display:none" multiple
                                                class="form-control"
                                                id="${imageName}"
                                                name="images">`);
                $contentImage = $("#contentImage");
                $contentImage.prepend($file);
                let fileImageUpload = document.getElementById(imageName);
                fileImageUpload.click();
                fileImageUpload.onchange = function (e) {
                    $span = $(`<span><i class="delete fa fa-lg fa-times-circle"></i></span>`);
                    $span.on("click", function (e) {
                        $el = $(e.target);
                        $div = $element.closest("div");
                        $div.remove();
                        $file.remove();
                    });
                    $block = $(`<div class="d-flex flex-column-row"></div>`);

                    for (var i = 0; i < e.target.files.length; i++) {
                        let fileName = e.target.files[i].name;
                        $spanBtn = $(`<a href="#" class="b-pict__close" title="DEL">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </a>`);
                        $spanBtn.on("click", function (e) {
                            $el = $(e.target);
                            $div = $el.closest("div");
                            $img = $div.find("img");
                            $div.remove();
                            var files = $file[0].files;
                            $file[0].files = files;
                            console.log($file[0].files);
                        });
                        $blockwithImage = $(`<div class="b-pict col-md-2 ${fileName}" data-name="${fileName}">
                                                            </div>`);
                        $blockwithImage.prepend(`
                                        <div class="b-pict col-md-2">
                                            <img src="${URL.createObjectURL(e.target.files[i])}"
                                                 height="100px" width="150px"/>

                                        </div>`);
                        $block.prepend($blockwithImage);
                        $blockwithImage.append($spanBtn);
                    }
                    $("#contentImage").prepend($block);
                }
            });
        });
    </script>
}

